@import"https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap";

:root {
    --primary-color: #b42891;
    --secondary-color: #4326cb;
    --main-color: #03081b;
    --black: #000;
    --white: #fff;
    --primary-light-color: rgba(255, 255, 255, .6);
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-26: 26px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-34: 34px;
    --fs-36: 36px;
    --fs-38: 38px;
    --fs-40: 40px;
    --fs-42: 42px;
    --fs-44: 44px;
    --fs-46: 46px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
    --rounded-40: 40px;
    --rounded-30: 30px;
    --rounded-24: 24px;
    --rounded-20: 20px;
    --rounded-15: 15px;
    --ease-in-out: all ease-in-out 0.5s;
    --font-family: "Poppins", sans-serif;
}

.cnts {
    font-size: 14px;
    color: lightgray;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    line-height: 1.2;
    color: var(--black);
}

h1, h2, h3 {
    font-weight: var(--fw-700);
}

h4, h5, h6 {
    font-weight: var(--fw-600);
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--secondary-color);
}

::-webkit-scrollbar-track-piece {
    background: #0f101e;
}

::-webkit-scrollbar-thumb {
    width: 0px;
    height: 0px;
    border-radius: 10px;
    background-image: linear-gradient(0deg, var(--primary-color) 0%, var(--main-color) 47.6%, var(--black) 99.23%);
}

body {
    background-color: var(--main-color);
    color: var(--primary-light-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-16);
    margin: 0px !important;
    padding: 0px !important;
    overflow: hidden auto !important;
}

html, body {
    overflow: hidden auto
}

::before, ::after, * {
    transition: all ease-in-out .3s;
    box-sizing: border-box;
}

p, ul, ol {
    font-size: var(--fs-16);
    line-height: 29px;
}

img {
    max-width: 100%;
}

.section-spacing {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-heading {
    margin-bottom: 50px;
    row-gap: 30px;
}

.section-heading .subtitle {
    font-size: var(--fs-16);
}

.section-heading .title {
    margin-bottom: 30px;
    background: linear-gradient(127deg, var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    background-clip: text;
    position: relative;
    padding-bottom: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.section-heading .title::before {
    content: "";
    position: absolute;
    /* left: 0; */
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(225deg, var(--black) 0%, rgba(255, 255, 255, 0.45) 54.98%, rgba(1, 3, 20, 0.99) 100%);
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-heading .title::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: movinggroupY 5s ease-in-out 0s infinite alternate both;
}

@keyframes movinggroupY {
    0%, 100% {
        transform: translateY(-50%) translateX(calc(-50% - 60px))
    }

    50% {
        transform: translateY(-50%) translateX(calc(-50% + 60px))
    }
}

.section-heading p {
    margin: 0px;
}

.cnts {
    font-size: 14px;
}

.themebtn {
    font-size: var(--fs-14);
    font-weight: var(--fw-700);
    color: var(--white);
    text-transform: uppercase;
    padding: 0 30px;
    border: 2px solid var(--white);
    position: relative;
    align-items: center;
    display: inline-flex;
    height: 46px;
    background-color: var(--white);
    background: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    border-color: var(--primary-color);
    transition: var(--ease-in-out);
}

.themebtn::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 10px;
    height: 10px;
    width: 2px;
    width: 10px;
    height: 2px;
     transition: var(--ease-in-out);
    background-color: var(--white);
    background-image: -webkit-linear-gradient(-51deg, var(--white), var(--white) 99%) !important;
}

.themebtn::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 10px;
    height: 10px;
    width: 2px;
     transition: var(--ease-in-out);
    background-color: var(--white);
    background-image: -webkit-linear-gradient(-51deg, var(--white), var(--white) 99%) !important;
}

.themebtn:hover {
    /* background-image: -webkit-linear-gradient(-51deg, var(--primary-color), var(--primary-color) 99%);
    background-color: var(--primary-color); */
    color: var(--white);
    background: transparent; 
}

.themebtn:hover:before {
    background-color: var(--white);
    background-image: -webkit-linear-gradient(-51deg, var(--white), var(--white) 99%) !important
}

.themebtn:hover:after {
    background-color: var(--white);
    background-image: -webkit-linear-gradient(-51deg, var(--white), var(--white) 99%) !important
}

.header {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    z-index: 1050;
    position: sticky;
    top: 0;
    padding: 0px !important;
}

.header .navbar {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding: 0px;
}

.header .navbar .navbar-brand {
    height: 50px;
}

.header .navbar .navbar-brand img {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.header .navbar .navbar-toggler {
    width: 35px;
    height: 35px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .navbar .navbar-toggler span {
    position: relative;
    width: 30px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--white);
    transition: 0s;
}

.header .navbar .navbar-toggler span::before, .header .navbar .navbar-toggler span::after {
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 2px;
    width: 100%;
    background-color: var(--white);
}

.header .navbar .navbar-toggler span::before {
    top: -10px;
}

.header .navbar .navbar-toggler span::after {
    bottom: -10px;
}

.header .navbar .navbar-toggler.open span {
    transform: rotate(45deg);
}

.header .navbar .navbar-toggler.open span::before {
    display: none;
}

.header .navbar .navbar-toggler.open span::after {
    transform: rotate(90deg);
    bottom: 0;
}

.header .navbar .navbar-nav {
    gap: 40px;
}

.header .navbar .navbar-nav .nav-item {
    transition: all linear .3s;
    position: relative;
}

.header .navbar .navbar-nav .nav-item .nav-link {
    padding: 30px 0px;
    font-size: var(--fs-14);
    font-weight: var(--fw-500);
    color: rgba(255, 255, 255, .8);
    display: inline-block;
}

.header .navbar .navbar-nav .nav-item .nav-link.active, .header .navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--white);
}

.header .navbar .navbar-nav .nav-item .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    background-color: var(--main-color);
    border-radius: 0px 0px 10px 10px;
    min-width: 200px;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .5);
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    border: 1px solid rgba(43, 44, 56, .46);
    z-index: 9999;
}

.header .navbar .navbar-nav .nav-item .sub-menu .menu-item {
    padding: 15px;
    color: rgba(255, 255, 255, .8);
    display: block;
    font-size: var(--fs-14);
    font-weight: var(--fw-500);
    width: 100%;
    position: relative;
}

.header .navbar .navbar-nav .nav-item .sub-menu .menu-item::before {
    content: "";
    width: 0px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    z-index: -1;
}

.header .navbar .navbar-nav .nav-item .sub-menu .menu-item:hover {
    color: var(--white);
}

.header .navbar .navbar-nav .nav-item .sub-menu .menu-item:hover::before {
    width: 100%;
}

.header .navbar .navbar-nav .nav-item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.header.fixed-top {
    position: fixed;
}

.header.active {
    transition: all ease-in-out .3s;
    box-shadow: 0px 0px 15px -3px rgba(140, 152, 164, .075);
    background: rgba(5, 25, 21, .4784313725);
    backdrop-filter: blur(20px);
}

.header .navbar .social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .navbar .social li a {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    color: var(--white);
}

.header .navbar .social li a:hover i {
    transform: scale(1.1);
}

.hero-section {
    min-height: 700px;
    height: 100vh;
    background-image: url(../images/banner_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section .slider {
    z-index: 9;
}

.hero-section .hero-gradient-ball {
    background: radial-gradient(114.99% 94.16% at 72.92% 82.18%, #111111 47.39%, #091534 68.23%, #A24DD6 86.63%);
    height: 350px;
    width: 350px;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    bottom: 0;
    z-index: -1;
    opacity: .5;
    animation: alltuchtopdown 6s infinite linear;
}

@keyframes alltuchtopdown {
    0% {
        transform: rotateX(0deg) translateY(0px);
    }

    50% {
        transform: rotateX(0deg) translateY(-30px);
    }

    100% {
        transform: rotateX(0deg) translateY(0px);
    }

    ;
}

.hero-section .slider .sub-titile {
    text-transform: uppercase;
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    padding: 0px 10px;
    margin-bottom: 20px;
    border-left: 2px solid var(--primary-color);
    transform: translateY(24px);
    transition-delay: .2s;
}

.hero-section .slider .banner-img img {
    height: 400px;
    animation: floating 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
}

@keyframes floating {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }

    ;
}

.hero-section .slider .heading span {
    background: linear-gradient(127deg, var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    background-clip: text;
}

.service-section {
    background-image: url(../images/service-bg.png);
    --background-overlay: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 9;
}

.service-section .service_card .item {
    margin: 5px;
}

.service-section .service_card .item .card {
    position: relative;
    border-radius: 8px;
    transition: all ease-in-out .5s;
    background: rgba(0, 0, 0, 0);
}

.service-section .service_card .item .card img {
    border-radius: 8px;
}

.service-section .service_card .item .card .card-body {
    padding: 25px 30px 40px;
    background: #0c1124;
    backdrop-filter: blur(30px);
    width: 87%;
    position: relative;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    margin-top: -40px;
    border-radius: 8px;
}

.service-section .service_card .circle02 {
    position: absolute;
    right: 30%;
    bottom: -80px;
    z-index: 9;
    animation: leftToRight 8s infinite linear;
}

.service-section .service_card .circle02 img {
    opacity: .55;
}

@keyframes leftToRight {
    0% {
        transform: rotateX(0deg) translateX(0px)
    }

    50% {
        transform: rotateX(0deg) translateX(50px)
    }

    100% {
        transform: rotateX(0deg) translateX(0px)
    }

    ;
}

.service-section .service_card .right-circle {
    position: absolute;
    right: 0%;
    z-index: 9;
    bottom: -10%;
    animation: alltuchtopdown 6s infinite linear;
}

@keyframes alltuchtopdown {
    0% {
        transform: rotateX(0deg) translateY(0px)
    }

    50% {
        transform: rotateX(0deg) translateY(-30px)
    }

    100% {
        transform: rotateX(0deg) translateY(0px)
    }
}

.service-section .service_card .right-circle img {
    opacity: .55;
}

.service-section .service_card .service-wrap-circle1 {
    position: absolute;
    background: radial-gradient(120.5% 130.5% at -19.95% 33.74%, #190F2E 77.39%, #7D4087 114.59%);
    width: 161px;
    height: 161px;
    border-radius: 50%;
    right: 30px;
    top: -80px;
    z-index: -1;
    filter: blur(3px);
    animation: alltuchtopdown 6s infinite linear;
}

@keyframes alltuchtopdown {
    0% {
        transform: rotateX(0deg) translateY(0px)
    }

    50% {
        transform: rotateX(0deg) translateY(-30px)
    }

    100% {
        transform: rotateX(0deg) translateY(0px)
    }
}

.service-section .owl-carousel .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.service-section .owl-carousel .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background: var(--white);
    border: 1px solid #adb5bd;
    box-shadow: 0px 1px 0px 0px #dee2e6;
    margin: 0px 3px;
    transition: .5s all;
}

.service-section .owl-carousel .owl-dots .owl-dot.active {
    background: var(--secondary-color);
    width: 32px;
}

.service-section .service_card .card .card-body .card_content {
    font-size: var(--fs-18);
    color: var(--white);
    margin-bottom: 15px;
}

.service-section .service_card .card .card-body .learn_more_btn {
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(147, 37, 123, .34);
    background: inherit;
    position: relative;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 4px;
}

.service-section .service_card .card .card-body .learn_more_btn .learn_more {
    color: var(--primary-color);
    font-size: var(--fs-16);
}

.earning-section {
    position: relative;
    overflow: hidden;
}

.earning-section::before {
    content: "";
    position: absolute;
    width: 258px;
    height: 553px;
    bottom: 0;
    right: 0;
    background-image: url(../images/circle-abstrect.png);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    animation: float-y 2s infinite linear;
    opacity: .5;
}

.earning-section::after {
    content: "";
    position: absolute;
    width: 147px;
    height: 375px;
    bottom: 0;
    left: 0;
    background-image: url(../images/pipe-shap.svg);
    opacity: .08;
    transform: rotate(180deg);
}

@keyframes float-y {
    0% {
        transform: rotate(180deg) translateY(-20px)
    }

    50% {
        transform: rotate(180deg) translateY(-10px)
    }

    100% {
        transform: rotate(180deg) translateY(-20px)
    }
}

.earning-section .earning_card .card {
    border-radius: 20px;

}

.earning-section .earning_card .card .card-body {
    bottom: 0px;
    background: rgba(75, 70, 61, .5294117647);
    margin: 10px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

.earning-section .earning_card .card .card-body .card_heading {
    color: var(--white);
}

.earning-section .earning_card .card .card-body .card_content {
    color: rgb(192, 189, 189);
}

.earning-section .earning_card .card .card-body .view_detail_btn {
    margin-top: 10px;
}

.earning-section .earning_card .card .card-body .view_detail_btn .view_detail {
    font-size: var(--fs-18);
    color: var(--primary-color);
    font-weight: var(--fw-500);
}

.why-choose-section .why_prism .growth .content {
    font-size: var(--fs-18);
}

.why-choose-section .why_prism .why_choose_card {
    padding: 8px;
    background-color: var(--main-color);
    border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.why-choose-section .why_prism .why_choose_card::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #1b9be6, #ff4db8, #9f7dff, #1b9be6);
    z-index: -1;
    border-radius: 12px;
    opacity: .7;
}

.why-choose-section .why_prism .why_choose_card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #121821;
    z-index: -1;
    border-radius: 10px;
}

.why-choose-section .why_prism .why_choose_card .card-body .card_heading {
    font-size: var(--fs-30);
    font-weight: var(--fw-700);
}

.why-choose-section .why_prism .shapes-circle {
    width: 500px;
    height: 500px;
    background: #161b2d;
    opacity: .5;
    top: 60%;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: translate(0, -50%);
}

.testimonial-section .testimonial .subtitle span {
    width: 51px;
    height: 51px;
    background-color: var(--primary-color);
    font-family: semibold;
    border-radius: 50%;
    border: 2px solid var(--black);
    margin-left: -1.7rem;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

.testimonial-section .testimonial .testi {
    position: relative;
}

.testimonial-section .testimonial .testi .testimonial-wrap-circle1 {
    position: absolute;
    background: radial-gradient(120.5% 130.5% at -19.95% 33.74%, #190F2E 77.39%, #7D4087 114.59%);
    width: 161px;
    height: 161px;
    border-radius: 50%;
    right: -60px;
    top: -80px;
    z-index: -1;
    filter: blur(3px);
    animation: alltuchtopdown 6s infinite linear;
}

@keyframes alltuchtopdown {
    0% {
        transform: rotateX(0deg) translateY(0px);
    }

    50% {
        transform: rotateX(0deg) translateY(-30px);
    }

    100% {
        transform: rotateX(0deg) translateY(0px);
    }

    ;
}

.testimonial-section .testimonial .testi .testimonial-wrap-circle2 {
    position: absolute;
    background: radial-gradient(139.08% 139.08% at 6.17% 127.08%, #130F1A 57.39%, #3B2A5E 112.32%, #8543B1 139.14%);
    width: 158px;
    height: 158px;
    border-radius: 50%;
    left: -90px;
    top: 80px;
    z-index: -1;
    filter: blur(4px);
    animation: leftToRight 8s infinite linear;
}

@keyframes leftToRight {
    0% {
        transform: rotateX(0deg) translateX(0px)
    }

    50% {
        transform: rotateX(0deg) translateX(50px)
    }

    100% {
        transform: rotateX(0deg) translateX(0px)
    }
}

.testimonial-section .testimonial .testi .testimonial-wrap-circle3 {
    position: absolute;
    background: radial-gradient(107.91% 147.91% at 140.21% 149.09%, #AB432C 0%, #460615 10.9%, #543871 156.63%);
    filter: blur(6.66516px);
    width: 85px;
    height: 85px;
    border-radius: 50%;
    z-index: -1;
    top: 250px;
    right: 30px;
    animation: leftToRight 8s infinite linear;
}

.testimonial-section .testimonial .testimonial-slider {
    background: radial-gradient(298.93% 263.81% at 149.5% 261.83%, #111111 47.39%, #091534 68.23%, rgba(162, 77, 214, 0.5) 86.63%);
    border-radius: 30px;
    padding: 100px 150px 40px;
}

.testimonial-section .testimonial .testimonial-slider .testimonial_card .author .author_img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    object-fit: cover;
}

.testimonial-section .testimonial .testimonial-slider .testimonial_card .author .author_detial {
    font-size: 14px;
    color: var(--primary-light-color);
}

.testimonial-section .testimonial .testimonial-slider .testimonial_card .testi_content {
    font-size: var(--fs-22);
}

.testimonial-section .testimonial .star-shap {
    width: 100px;
    height: 100px;
    top: 50px;
    right: 100px;
    z-index: 9;
    animation: circleanimation 4s linear infinite;
}

@keyframes circleanimation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.testimonial-section .testimonial .owl-carousel .owl-nav {
    display: block;
}

.testimonial-section .testimonial .owl-carousel .owl-nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--white);
    border: 1px solid #ebedf1;
    color: var(--black);
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: var(--fs-18);
    margin-top: -27.5px;
    z-index: 3;
    border-radius: 50%;
}

.testimonial-section .testimonial .owl-carousel .owl-nav .owl-prev {
    left: 10px;
}

.testimonial-section .testimonial .owl-carousel .owl-nav .owl-next {
    right: 10px;
}

.testimonial-section .testimonial .owl-carousel .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.testimonial-section .testimonial .owl-carousel .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background: var(--white);
    border: 1px solid #adb5bd;
    box-shadow: 0px 1px 0px 0px #dee2e6;
    margin: 0px 3px;
    transition: .5s all;
}

.testimonial-section .testimonial .owl-carousel .owl-dots .owl-dot.active {
    background: var(--secondary-color);
    width: 32px;
}

.our-workflow-section {
    background-image: url(../images/step_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.our-workflow-section .workflow .benefit-cards .card {
    position: relative;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 2rem;
    padding: 1.25rem;
    background-color: var(--main-color);
    transition: var(--ease-in-out);
}

.our-workflow-section .workflow .benefit-cards .card .card-body {
    background: rgba(255, 255, 255, .0588235294);
    border-radius: 30px;
    backdrop-filter: blur(30px);
}

.our-workflow-section .workflow .benefit-cards .card .card-body img {
    filter: brightness(6);
}

.our-workflow-section .workflow .benefit-cards .card .card-body p {
    color: var(--primary-light-color);
}

.our-workflow-section .workflow .benefit-cards .card::before {
    content: "";
    position: absolute;
    border: 0px;
    border-color: #f97316;
    border-left-width: 10px;
    border-top-width: 10px;
    border-top-left-radius: 2rem;
    width: 6rem;
    height: 6rem;
    inset: -5px;
    border-style: solid;
}

.our-workflow-section .workflow .benefit-cards .card .bg-1 {
    position: absolute;
    height: 2.5rem;
    width: 10px;
    top: 5rem;
    left: -5px;
    background-color: var(--main-color);
}

.our-workflow-section .workflow .benefit-cards .card .bg-1::before {
    content: "";
    position: absolute;
    width: .5rem;
    height: .5rem;
    background-color: rgba(255, 255, 255, .2);
    left: 0;
    bottom: 0;
    border-radius: 50%;
}

.our-workflow-section .workflow .benefit-cards .card .bg-2 {
    position: absolute;
    width: 2.5rem;
    height: 10px;
    top: -5px;
    left: 5rem;
    background-color: var(--main-color);
}

.our-workflow-section .workflow .benefit-cards .card .bg-2::before {
    content: "";
    position: absolute;
    width: .5rem;
    height: .5rem;
    background-color: rgba(255, 255, 255, .2);
    right: 0;
    top: 0;
    border-radius: 50%;
}

.our-workflow-section .workflow .benefit-cards .card:hover {
    border-color: var(--white);
}

.our-workflow-section .workflow .benefit-cards .card:hover .bg-1::before {
    background-color: var(--white);
}

.our-workflow-section .workflow .benefit-cards .card:hover .bg-2::before {
    background-color: var(--white);
}

.our-workflow-section .workflow .benefit-cards .card2::before {
    border-color: #0ea5e9;
}

.our-workflow-section .workflow .benefit-cards .card3::before {
    border-color: var(--secondary-color);
}

.our-workflow-section .workflow .benefit-cards .card4::before {
    border-color: var(--primary-color);
}

.workshop-section {
    background-image: url(../images/discord_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.workshop-section .workshop .webinar {
    background: rgba(255, 255, 255, .02);
    backdrop-filter: blur(20px);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 80px 24px;
}

.workshop-section .workshop .webinar .workshop_heading {
    font-size: var(--fs-30);
}

.workshop-section .workshop .webinar .workshop_content {
    font-size: var(--fs-16);
}

.workshop-section .workshop .circle {
    width: 240px;
    height: 240px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(57.75deg, #F70FFF 14.44%, #2C63FF 85.65%);
    animation: circlethree 16s ease-in-out infinite;
    top: -110px;
    left: 34px;
}

.workshop-section .workshop .circle::before {
    content: "";
    width: 100%;
    top: initial;
    bottom: initial;
    left: initial;
    right: initial;
    position: absolute;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(57.75deg, #F70FFF 14.44%, #2C63FF 85.65%);
    opacity: .84;
    filter: blur(100px);
}

@keyframes circlethree {
    0% {
        transform: rotate(0deg) translateX(19px) rotate(0deg)
    }

    100% {
        transform: rotate(360deg) translateX(19px) rotate(-360deg)
    }
}

.frequently-section {
    background-image: url(../images/team-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.frequently-section .ask_question .accordion .accordion-item {
    border: 0px;
}

.frequently-section .ask_question .accordion .accordion-item .accordion-header .accordion-button {
    font-size: var(--fs-20);
    border-radius: 0px;
    padding: 30px 0px;
    color: var(--white);
}

.frequently-section .ask_question .accordion .accordion-item .accordion-header .accordion-button.collapsed {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.frequently-section .ask_question .accordion .accordion-item .accordion-header .accordion-button:focus {
    box-shadow: none;
}

.frequently-section .ask_question .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    box-shadow: none;
}

.frequently-section .ask_question .accordion .accordion-item .accordion-header .accordion-button::after {
    background: url(../images/download.svg);
    width: 24px;
    height: 24px;
    background-size: 24px;
}

.frequently-section .ask_question .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
}

.frequently-section .ask_question .accordion .accordion-item .accordion-body {
    background: rgba(255, 255, 255, 0.0588235294);
    border-radius: 15px;
    color: var(--primary-light-color);
    padding: 30px 20px;
    outline: none;
}

.footer-section {
    background: url(../images/footer-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer-section .whole-footer .footer-contact .footer-logo {
    height: 60px;
}

.footer-section .whole-footer .footer-contact .footercontent .newsletterbox {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 3px rgba(3, 7, 22, .1);
    border-radius: 40px;
    background-color: var(--white);
    overflow: hidden;
    width: 100%;
}

.footer-section .whole-footer .footer-contact .footercontent .newsletterbox .forminput {
    height: 100%;
}

.footer-section .whole-footer .footer-contact .footercontent .newsletterbox .forminput .form-control {
    height: 100%;
    background: var(--white);
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    letter-spacing: -0.48px;
    box-shadow: none;
}

.footer-section .whole-footer .footer-contact .footercontent button {
    background: var(--primary-color);
    background: linear-gradient(93.17deg, var(--primary-color) -18.55%, #7E2AFD 163.09%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: var(--white);
    outline: none;
    border: none;
}

.footer-section .whole-footer .footer-contact .social-media ul {
    gap: 1rem;
}

.footer-section .whole-footer .footer-contact .social-media ul li a {
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
    width: 40px;
    height: 40px;
    display: block;
    transition: all ease-in-out .3s;
    background: rgba(255, 255, 255, 0.0588235294);
}

.footer-section .whole-footer .footer-contact .social-media ul li a i {
    transition: all ease-in-out .3s;
}

.footer-section .whole-footer .footer-contact .social-media ul li a:hover {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    background: var(--primary-color) !important;
}

.footer-section .whole-footer .footer-contact .social-media ul li a:hover i {
    transform: rotate(360deg);
}

.footer-section .whole-footer .services .company span {
    position: relative;
    font-size: var(--fs-22);
    font-weight: var(--fw-600);
}

.footer-section .whole-footer .services .company span::after {
    display: flex;
    width: 40%;
    height: 2px;
    margin-top: 10px;
    background-color: var(--primary-color);
    content: "";
    position: absolute;
    left: 0;
    margin-left: 26px;
    transform: translateX(0px);
}

.footer-section .whole-footer .services ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-section .whole-footer .services ul li a {
    padding-left: 25px;
    font-size: var(--fs-14);
    font-weight: var(--fw-500);
}

.footer-section .whole-footer .services ul li a::before {
    content: "";
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #d9d9d9;
    width: 7px;
    height: 7px;
    left: 4px;
}

.footer-section .whole-footer .services ul li a::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 1px solid #d9d9d9;
}

.footer-section .whole-footer .services ul li a:hover:before {
    background-color: var(--primary-color);
}

.footer-section .bottom-footer {
    position: relative;
}

.footer-section .bottom-footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(225deg, var(--black) 0%, rgba(255, 255, 255, 0.45) 54.98%, rgba(1, 3, 20, 0.99) 100%);
}

.footer-section .bottom-footer a {
    color: var(--primary-color);
}


.banner-section {
    position: relative;
    height: 450px;
}

.banner-section::before {
    content: "";
    position: absolute;
    top: 0px;
    background-image: url(../images/breadcrumb_bg.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    height: 100%;
    width: 100%;
}
.banner-section .breadcrumb-sec{
    padding-top: 90px !important;
}

.banner-section .breadcrumb-sec .breadcrumb {
    display: inline-flex;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 50px;
    gap: 10px;
}

.banner-section .breadcrumb-sec .breadcrumb .active {
    color: var(--white);
    position: relative;
    background-color: var(--main-color);
}

.banner-section .breadcrumb-sec .breadcrumb .breadcrumb-item {
    padding: 10px 25px;
    border-radius: 30px;
    display: flex;
}

.banner-section .breadcrumb-sec .breadcrumb .breadcrumb-item::before {
    display: none;
}

.mission-section {
    background-image: url(../images/mission_bg.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.mission-section .mission .mission-content .contnt .mission-title {
    background: linear-gradient(127deg, var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    background-clip: text;
}

.mission-section .mission .mission-content .contnt .cotnt {
    font-size: var(--fs-24);
}

.about_why {
    background-image: url(../images/step_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 9;
}

.leadership-section {
    position: relative;
}

.leadership-section .leadership .leader_content {
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, .06);
    border-left: 3px solid var(--primary-light-color);
    position: relative;
    overflow: hidden;
}

.leadership-section .leadership .leader_content::before {
    position: absolute;
    content: "";
    background-image: url(../images/shape-1.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: .4;
}

.leadership-section .leadership .leader_content .heading {
    color: var(--primary-color);
}

.leadership-section .leadership .leader_content .social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.leadership-section .leadership .leader_content .social li a {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    color: var(--white);
}

.leadership-section .leadership .testimonial-wrap-circle1 {
    position: absolute;
    width: 161px;
    height: 161px;
    left: -60px;
    top: 50px;
    z-index: -1;
    filter: blur(3px);
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    background: radial-gradient(120.5% 130.5% at -19.95% 33.74%, rgb(25, 15, 46) 77.39%, rgb(125, 64, 135) 114.59%);
    border-radius: 50%;
    animation: 6s linear 0s infinite normal none running alltuchtopdown;
}

@keyframes alltuchtopdown {
    0% {
        transform: rotateX(0deg) translateY(0px)
    }

    50% {
        transform: rotateX(0deg) translateY(-30px)
    }

    100% {
        transform: rotateX(0deg) translateY(0px)
    }
}

.contactus-section {
    position: relative;
    z-index: 9;
}

.contactus-section .circles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    width: 184px;
    height: 184px;
    background: rgba(255, 255, 255, .02);
    border: 1px solid rgba(44, 99, 255, .24);
    box-shadow: inset 0 0 32px rgba(44, 99, 255, .84);
    backdrop-filter: blur(12px);
    position: absolute;
    gap: 8px;
    z-index: -1;
    top: -15%;
    right: 0;
}

.contactus-section .contnt .contact-title {
    background: linear-gradient(127deg, var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    background-clip: text;
}

.contactus-section .contnt .contact-group .contact-item {
    background-color: rgba(255, 255, 255, .06);
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    border-left: 3px solid var(--white);
}

.contactus-section .contnt .contact-group .contact-item .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    flex: 0 0 auto;
    background-color: var(--primary-color);
    display: inline-flex;
    padding: 18px;
}

.contactus-section .contnt .contact-group .contact-item .icon svg {
    height: 24px;
    width: 24px;
    fill: var(--white);
}

.contactus-section .contnt .contact-group .contact-item .info .sub-title {
    font-size: var(--fs-20);
}

.contactus-section .contnt .contact-group .contact-item .info .contact {
    color: #fff;
    word-break: break-all;
}

.contactus-section .contact-card {
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, .06) !important;
    margin-left: 20px;
    padding: 30px;
}

.contactus-section .contact-card .form-control, .contactus-section .contact-card .form-select {
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(255, 255, 255, .2);
    color: var(--white);
    box-shadow: none !important;
    border-radius: 0px;
    outline: none;
    padding: 15px 20px;
    font-size: var(--fs-16);
    font-weight: var(--fw-300);
    resize: none;
}

.contactus-section .contact-card ::placeholder {
    color: var(--white);
}

.career-section .career .career-content .contnt .career-title {
    background: linear-gradient(127deg, var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    background-clip: text;
    font-size: var(--fs-34);
    font-weight: var(--fw-700);
}

.career-section .career .career-content .contnt .resnt_career span {
    width: 51px;
    height: 51px;
    background-color: var(--primary-color);
    font-family: semibold;
    margin-left: -1.7rem;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50%;
    border: 2px solid var(--black);
}

.new_banner {
    height: 650px;
}

.new_banner .podcast .podcast_content .sub-head {
    font-size: var(--fs-20);
}

.new_banner .podcast .podcast_content .heading {
    background: linear-gradient(127deg, var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    background-clip: text;
}

.new_banner .podcast .podcast_img img {
    height: 400px;
}

.new_banner .webinar .webs {
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, .06);
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 100px;
    border: 2px solid rgba(255, 255, 255, .2);
}

.new_banner .webinar .webs .webinar_img img {
    height: 450px;
}

.new_banner .webinar .webs .webinar_content .heading {
    background: linear-gradient(127deg, var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    background-clip: text;
}

.new_banner .webinar .webs .webinar_content .sub-head {
    font-size: var(--fs-18);
}

.new_banner .webinar .webs .webinar_content .sub-head span {
    color: var(--primary-color);
    font-weight: var(--fw-600);
}

.new_banner .webinar .webs .webinar_content ul {
    flex-wrap: wrap;
}

.new_banner .webinar .webs .webinar_content ul li {
    gap: 10px;
}

.new_banner .webinar .webs .webinar_content ul li svg {
    height: 20px;
    width: 20px;
    fill: var(--primary-color);
}

.podcast-section .podcast-form .form-content {
    background-image: url(../images/bg_contact.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.podcast-section .podcast-form .content {
    font-size: var(--fs-20);
    line-height: 2;
}

.podcast-section .podcast-form .contact-card {
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, .06) !important;
    margin-left: 20px;
    padding: 30px;
}

.podcast-section .podcast-form .contact-card .form-control, .podcast-section .podcast-form .contact-card .form-select {
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(255, 255, 255, .2);
    color: var(--white);
    box-shadow: none !important;
    border-radius: 0px;
    outline: none;
    padding: 15px 20px;
    font-size: var(--fs-16);
    font-weight: var(--fw-300);
    resize: none;
}

.podcast-section .podcast-form .contact-card ::placeholder {
    color: var(--white);
}

.webinar-section .webnr .webinar_card {
    background: rgba(255, 255, 255, 0.0588235294);
    border-radius: 30px;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    border-radius: 10px;
    position: relative;
    margin: 10px 0px 10px 45px;
    display: flex;
    align-items: center;
}

.webinar-section .webnr .webinar_card .webinar_img {
    position: relative;
    left: -30%;
    z-index: 3;
    flex-shrink: 0;
    display: inline-block;
}

.webinar-section .webnr .webinar_card .webinar_img::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: var(--secondary-color);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: translate(5px, 5px);
    z-index: -1;
}

.webinar-section .webnr .webinar_card .webinar_img img {
    width: 135px;
    height: 135px;
    border-radius: 10px;
}

.webinar-section .webnr .webinar_card .online_earning_content {
    padding: 40px 0px;
    padding-right: 40px;
}

.webinar-section .webnr .webinar_card .online_earning_content .sub-head {
    font-size: var(--fs-18);
}

.webinar-section .webnr .webinar_card .online_earning_content .sub-head span {
    color: var(--primary-color);
    font-weight: var(--fw-600);
}

.webinar-section .webnr .webinar_card .online_earning_content ul {
    flex-wrap: wrap;
}

.webinar-section .webnr .webinar_card .online_earning_content ul li {
    gap: 10px;
}

.webinar-section .webnr .webinar_card .online_earning_content ul li svg {
    height: 20px;
    width: 20px;
    fill: var(--primary-color);
}

.portfolio-section .portfolio .portfolio-content .portfolio_card {
    border-radius: 15px;
    overflow: hidden;
}

.portfolio-section .portfolio .portfolio-content .portfolio_card .portfolio-img {
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}

.portfolio-section .portfolio .portfolio-content .portfolio_card .portfolio-img::before {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.38) 23%, rgba(28, 21, 16, 0.64) 100%);
    transition: .5s ease-in;
}

.portfolio-section .portfolio .portfolio-content .portfolio_card .contnt {
    bottom: 0px;
    left: 0;
    right: 0;
    background: linear-gradient(360deg, #000000 0%, rgba(3, 8, 27, 0.24) 80%, transparent 100%);
    transition: all ease-in-out .5s;
    color: var(--primary-light-color);
}

.portfolio-section .portfolio .portfolio-content .portfolio_card .contnt .portfolio-title {
    color: var(--white);
    font-size: var(--fs-28);
    font-weight: var(--fw-600);
}
.portfolio-section .portfolio .portfolio-content .portfolio_card .contnt .cotnt {
    color: var(--primary-light-color);
}
.single-service-section .single-page .service-cnts {
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, .06) !important;
}

.single-service-section .single-page .service-cnts .service_description .contnt {
    text-align: justify;
}

.single-service-section .single-page .service_sidebar {
    position: sticky;
    top: 90px;
}

.single-service-section .single-page .service_sidebar ul {
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, .06) !important;
}

.single-service-section .single-page .service_sidebar ul li {
    margin-bottom: 10px;
}

.single-service-section .single-page .service_sidebar ul li a {
    font-size: 14px;
    transition: var(--ease-in-out);
}

.single-service-section .single-page .service_sidebar ul li a:hover {
    color: var(--primary-color) !important;
}

.single-service-section .single-page .service_sidebar .contact-card {
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, .06) !important;
    margin-top: 20px;
    padding: 30px;
}

.single-service-section .single-page .service_sidebar .contact-card .form-control, .single-service-section .single-page .service_sidebar .contact-card .form-select {
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(255, 255, 255, .2);
    color: var(--white);
    box-shadow: none !important;
    border-radius: 0px;
    outline: none;
    padding: 15px 20px;
    font-size: var(--fs-16);
    font-weight: var(--fw-300);
    resize: none;
}

.single-service-section .single-page .service_sidebar .contact-card ::placeholder {
    color: var(--white);
}

.privacy-policy-section {
    background-image: url(../images/step_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center center; */
    z-index: 9;
}

.privacy-policy-section .circles {
    position: absolute;
    background: radial-gradient(120.5% 130.5% at -19.95% 33.74%, #190F2E 77.39%, #7D4087 114.59%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    left: 30px;
    top: 50px;
    z-index: -1;
    filter: blur(3px);
    animation: alltuchtopdown 6s infinite linear;
}

.privacy-policy-section .privacy-policy-page .privacy-content .cnts {
    text-align: justify;
}

.privacy-policy-section .privacy-policy-page .privacy-content .heading {
    font-size: var(--fs-28);
}

.privacy-policy-section .privacy-policy-page .privacy-content .sub_heading {
    font-size: var(--fs-22);
}

.privacy-policy-section .privacy-policy-page .privacy-content .new_cont {
    color: var(--primary-color);
    font-size: var(--fs-20);
    font-weight: 500;
}

.privacy-policy-section .privacy-policy-page .privacy-content .addrss {
    line-height: 1.5;
}

.terms-section .terms-page .terms-content .heading {
    font-size: var(--fs-24);
    color: var(--primary-color);
}

.terms-section .terms-page .terms-content .cnts {
    text-align: justify;
}

.disclaimer-section .disclaimer-page .cnts {
    text-align: justify;
}

.terms-section {
    background-image: url(../images/step_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center center; */
    z-index: 9;
}

.disclaimer-section {
    background-image: url(../images/step_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    z-index: 9;
}

.job-section .job-page .heading {
    font-size: var(--fs-30);
    font-weight: var(--fw-700);
    color: var(--primary-color);
}

.job-section .job-page .job_card {
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, .06);
    border-left: 3px solid var(--primary-light-color);
}

.job-section .job-page .job_card::before {
    position: absolute;
    content: "";
    background-image: url(../images/shape-1.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: .4;
}

.job-section .job-page .job_card .card-body .experiense span {
    background: #0000001c;
    padding: 10px 20px;
    border-radius: 28px;
    font-size: 14px;
    backdrop-filter: blur(20px);
}

.modal .modal-dialog-centered .modal-content {
    background: rgb(18 23 40) !important;
}

.modal .modal-dialog-centered .modal-content .contact-card {
    padding: 10px;
}

.modal .modal-dialog-centered .modal-content .contact-card .form-control, .modal .modal-dialog-centered .modal-content .contact-card .form-select {
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(255, 255, 255, .2);
    color: var(--white);
    box-shadow: none !important;
    border-radius: 0px;
    outline: none;
    padding: 15px 20px;
    font-size: var(--fs-16);
    font-weight: var(--fw-300);
    resize: none;
}

.modal .modal-dialog-centered .modal-content .contact-card ::placeholder {
    color: var(--white);
}

.modal .modal-dialog-centered .modal-content .modal-header {
    border-color: rgba(255, 255, 255, .2) !important;
}

.modal .modal-dialog-centered .modal-content .modal-header .btn-close {
    filter: invert(1);
    border: 0;
    outline: 0;
    box-shadow: none;
}

.modal .modal-dialog-centered .modal-content .modal-footer {
    border: 0px;
}

input[type="file"]::-webkit-file-upload-button {
    appearance: none;
    background: none !important;
    cursor: pointer;
    color: var(--white);
}

.blog-section .blog-page .blog_img {
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid var(--primary-light-color);
}

.blog-section .blog-page .blog_img img {
    object-fit: cover;
    transition: all .3s;
}

.blog-section .blog-page .blog_img img:hover {
    transform: scale(1.1);
}

.blog-section .blog-page .blog_contnt .heading {
    font-size: var(--fs-30);
    font-weight: var(--fw-700);
}

.blog-section .blog-page .blog_contnt .sub-name {
    gap: 20px;
}

.blog-section .blog-page .blog_contnt .sub-name i {
    color: var(--primary-color);
}


.article-section .article-page .observation-section {
    box-shadow: 0 27px 24px -37px rgba(0, 0, 0, 0.66);
    background: rgba(255, 255, 255, .0588235294);
    backdrop-filter: blur(30px);
    padding: 30px;
    border-radius: 10px;
    border-bottom: 3px solid var(--primary-color);
}

.article-section .article-page .observation-section .observation-img {
    border-radius: 10px;
    overflow: hidden;
}

.article-section .article-page .observation-section .observation-img img {
    object-fit: cover;
    transition: all .3s;
}
.article-section .article-page .observation-section:hover .observation-img img {
    transform: scale(1.1);
}
.article-section .article-page .observation-section .fun-driving .linelimit {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--fs-26);
    font-weight: var(--fw-700);
}

.article-section .article-page .observation-section .read-more a {
    color: var(--primary-color);
}
.article-section .article-page .observation-section .sub-name {
    gap: 20px;
}

.article-section .article-page .observation-section .sub-name i {
    color: var(--primary-color);
}

.article-section .article-page .nav-pills{
    background: #b42891;
    padding: 20px 20px;
    border-radius: 60px;
    background: rgba(255, 255, 255, .0588235294);
}
.article-section .article-page .nav-pills .nav-link:hover{
    color: var(--primary-color);
    border-radius: 40px;
    background: rgba(255, 255, 255, .0588235294);
    border: 1px solid transparent;
}
.article-section .article-page .nav-pills .nav-link.active{
    background: var(--white);
    color: var(--primary-color);
    border-radius: 40px;
    background: rgba(255, 255, 255, .0588235294);
    border: 1px solid rgb(255 255 255 / 8%);
}
.article-section .article-page .nav-pills .nav-link{
    font-weight: var(--fw-600);
    color: var(--white);
    margin: 0 10px;
    padding: 10px 40px;
    border: 1px solid transparent;
}
.article-section .article-page .blog_card{
    margin-bottom: 30px !important;
}
.shift-section .digi-shift .ports{
    background-image: linear-gradient(90deg, #1c1c1c66 30%, #1c1c1c66 100%), url(../images/portfolio_img.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    border-radius: 20px;
    height: 450px;
    position: relative;
}
.shift-section .digi-shift .ports .heading{
    font-size: var(--fs-46);
    font-weight: var(--fw-700);
}

.recent-section{
    background-image: url(../images/step_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}